body{
    min-height: 100vh;
    background-color: $color_60;
}

#page{
    max-width: 1440px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.container{
    @include container;
    padding: 0 20px;
}