#intro{
    // border: solid 3px red;
    background-color: $color_30;
    overflow: hidden;
    position: fixed;
    @include Dfx_JCc_AIc;

    .hide{
        display: none;
    }

    ul{
        position: relative;
        @include Dfx_JCc_AIc;
    }

    li{
        background-color: $color_30;
        position: absolute;
        font-size: 4rem;
        width: 100vw;
        @include Dfx_JCc_AIc;
    }

    .show li{
        animation-name: li;
        animation-duration: 500ms;
        color: white;
        text-transform: uppercase;
        transition: 1000ms;

        &::before{
            content: "";
            position: absolute;
            height: 2px;
            width: 400px;
            background-color: red;
            animation-name: li_line;
            animation-duration: 700ms;
        }
    }

    .show li:nth-child(-n + 6){
        &::before{
            top: 50%;
        }
    }

    .show li:nth-child(n+7){
        color: red;
        cursor: pointer;

        &::before{
            background-color: white;
            bottom: 0;
            transition: 1000ms;
        }

        &:hover{
            font-size: 5rem;
            transition: 1000ms;
        }
        &:hover::before{
            width: 0;
            transition: 1000ms;
        }
    }

    @keyframes li {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes li_line {
        0%{
            opacity: 0;
            width: 0;
        }
        100%{
            opacity: 1;
            width: 400px;
        }
    }
}

.intro_active{
    height: 100vh;
    width: 100vw;
}
.intro_desactive{
    height: 0;
    width: 0;
    transition: 600ms;
    top: 0;
    z-index: 5;
}