$color_60: #000;
$color_30: #14213d;
$color_10: red;
$color_10_opo: rgba(255, 0, 0, 0.7);

$bg_shadow_1: 4px 4px 4px #000;
$bg_shadow_1_hover: 4px 4px 4px #000;

$txt_color_light: #e5e5e5;
$txt_color_gray: gray;
$txt_color_shadow: #000000;

$txt_shadow_1: 4px 4px 4px #000;
$txt_shadow_1_hover: 4px 4px 4px #000;